body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    color: rgb(255, 255, 255, 0.95);
}

.c_flexed
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    
}

.display
{
    text-align: center;
}

form, .c_flexed, canvas
{
    transition: all ease-in-out 0.1s;
    margin: 5px;
    padding: 5px;
    
    background-color: rgb(255, 255, 255, 0.05);
    border: 1px solid rgb(255, 255, 255, 0.75);
    border-radius: 5px;
}

form:hover, .c_flexed:hover, canvas:hover
{
    background-color: rgb(255, 255, 255, 0.08);
    border: 1px solid rgb(255, 255, 255, 0.78);
}

input, a
{
    transition: all ease-in-out 0.2s;
    
    color: rgb(255, 255, 255, 0.85);
    background-color: rgb(255, 255, 255, 0.18);
    border: 1px solid rgb(255, 255, 255, 0.3);
    
    border-radius: 5px;
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    font-size: 0.9rem;
}

input:hover, a:hover
{
    color: rgb(255, 255, 255, 1);
    background-color: rgb(255, 255, 255, 0.28);
    border-color: rgb(255, 255, 255, 0.4);
}

input[type='range']
{
    accent-color: lightgray;
}

a
{
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
